In [16]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [3]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [4]:
# def scrape_info():
#     browser = init_browser()

#     # Visit mars.nasa.gov
#     url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
#     browser.visit(url)

#     time.sleep(1)

#     # Scrape page into Soup
#     html = browser.html
#     soup = bs(html, "html.parser")

    

#     # Store data in a dictionary
#     #mars_data = {
#         "sloth_img": sloth_img,
#         "min_temp": min_temp,
#         "max_temp": max_temp
#     }

#     # Close the browser after scraping
#     browser.quit()

#     # Return results
#     return mars_data

In [5]:

browser = init_browser()

# Visit mars.nasa.gov
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [6]:
list_text=soup.find('div', class_='list_text')
list_text

<div class="list_text"><div class="list_date">August 28, 2019</div><div class="content_title"><a href="/news/8508/nasa-invites-students-to-name-mars-2020-rover/" target="_self">NASA Invites Students to Name Mars 2020 Rover</a></div><div class="article_teaser_body">Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.</div></div>

In [7]:
news_title =list_text.find('a').text
news_p = list_text.find('div',class_='article_teaser_body').text

In [19]:
# featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [29]:

browser = init_browser()
# Visit jpl.nasa.gov
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

time.sleep(1)
browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(1)
browser.click_link_by_partial_text("more info")

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")
#Find the src for the image
relative_image_path = soup.find_all('img', class_="main_image")[0]["src"]
mars_img = "https://www.jpl.nasa.gov" + relative_image_path
print(mars_img)
 # Close the browser after scraping
browser.quit()

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18897_hires.jpg

In [11]:
browser = init_browser()
# Visit twitter.com
t_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(t_url)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")
#Find the src for the image
Tweet = soup.find_all('div', class_="js-tweet-text-container")[1]

# Close the browser after scraping
#browser.quit()

In [14]:
mars_weather=Tweet.find('p',class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
mars_weather

'InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)\nwinds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)\npressure at 7.50 hPapic.twitter.com/9YLawm67zS'

In [21]:
# Visit space-facts.com
table_url = "https://space-facts.com/mars/"
facts= pd.read_html(table_url)
facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
# Assign the columns `['Mars_Earth_Comparison', 'Mars', 'Earth']`

df = facts[0]
df.columns = ['Mars_features', 'Mars', 'Earth']
df.head()

        Mars_features             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days

In [23]:
df= df.iloc[:,0:2]
df

        Mars_features             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [24]:
browser = init_browser()
# Visit twitter.com
m_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(m_url)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")
mars_he = soup.find_all('a', class_='itemLink product-item')
mars_he
for i in mars_he



# time.sleep(1)
# browser.click_link_by_partial_text("Cerberus Hemisphere Enhanced thumbnail")
# time.sleep(1)
# browser.click_link_by_partial_text("more info")
# Scrape page into Soup


# Close the browser after scraping
#browser.quit()

[<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a>]

In [ ]:
hemisphere_image_urls = 
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},

In [ ]:
store into Mongo database

In [ ]:
# <a href="/search/map/Mars/Viking/cerberus_enhanced" class="itemLink product-item"><h3>Cerberus Hemisphere Enhanced</h3></a>

In [ ]:
# <img class="wide-image" src="/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg">